@import url('variables.css');
@import url('branches-component.css');
@import url('footer-disclaimer-component.css');
@import url('footer-logo-component.css');
@import url('menu-component.css');
@import url('social-links-component.css');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: sans-serif;
}

.footer {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 70px 0 0;
  background: var(--primary);
}

.container {
  max-width: 1507px;
  display: flex;
  flex-direction: column;
}

.footer__top {
  width: 100%;
  display: flex;
  gap: 28px;
}

.footer__navigation {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.footer__menu {
  max-width: 484px;
  width: 100%;
}

.footer__contact {
  width: 100%;
  max-width: 483px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.footer__middle {
  margin-top: 60px;
  border-top: 1px solid var(--border);
  padding: 24px 0;
  display: flex;
  gap: 28px;
  width: 100%;
}

.footer__policy-item {
  color: var(--secondary-text);
  font-size: 16px;
  line-height: 1.35em;
  letter-spacing: 0;
  font-family: Jost, sans-serif;
  font-weight: 400;
}

.footer__policy {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
  max-width: 484px;
}

.footer__notice {
  border-top: 1px solid var(--border);
  padding: 24px 0;
  display: flex;
  width: 100%;
}

.footer__notice-text {
  font-family: Jost, sans-serif;
  font-weight: 400;
  letter-spacing: 0.05em;
  width: 100%;
  color: var(--border);
  font-size: 30px;
  line-height: 1.40em;
  text-transform: uppercase;
  text-align: center;
}

@media (max-width: 1500px) {
  .footer__notice-text {
    font-size: 28px;
    text-align: start;
  }
}

@media (max-width: 1200px) {

  .footer {
    padding: 50px 0 0;
  }

  .container {
    max-width: 940px;
  }

  .footer__top {
    width: 100%;
    display: flex;
    gap: 28px;
    flex-wrap: wrap;
  }

  .footer__menu {
    width: 100%;
    max-width: 465px;
  }

  .footer__contact {
    max-width: none;
  }

  .footer__middle {
    margin-top: 32px;
    flex-direction: column;
    gap: 28px;
    width: 100%;
  }
}

@media (max-width: 826px) {
  .footer__menu {
    max-width: none;
  }

  .footer__top {
    gap: 32px;
    max-width: 780px;
  }

  .footer__navigation {
    flex-direction: column;
    gap: 32px;
  }
}

@media (max-width: 768px) {

  .footer {
    padding: 40px 0 0;
  }

  .container {
    max-width: 648px;
  }

  .footer__top {
    gap: 32px;
    flex-direction: column;
  }

  .footer__navigation {
    flex-direction: column;
    gap: 32px;
  }

  .footer__menu {
    width: 100%;
    max-width: none;
  }

  .footer__contact {
    width: 100%;
    max-width: none;
  }

  .footer__notice-text {
    font-size: 20px;
    line-height: 1.4em;
  }
}

@media (max-width: 360px) {

  .container {
    max-width: 312px;
  }

  .footer__top {
    gap: 32px;
    flex-direction: column;
  }
}
