.footer-disclaimer {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer-disclaimer__text {
  font-size: 16px;
  line-height: 1.35em;
  color: rgba(255, 255, 255, 0.6);
  letter-spacing: 0;
  font-family: Jost, sans-serif;
  font-weight: 400;
}
