.footer-disclaimer {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer-disclaimer__text {
  font-size: 16px;
  line-height: 22px;
  color: var(--footer-secondary-text);
  letter-spacing: 0;
  font-family: Jost, sans-serif;
  font-weight: 400;
}
