@import url('header-contacts-addresses.css');

.header {
  padding: 32px 0;
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
}

.header__main {
  width: 100%;
  max-width: 1508px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 55px;
  gap: 49px;
}

.header__wrapper {
  width: 100%;
  height: 100%;
  max-width: 1029px;
  display: flex;
  justify-content: space-between;
  gap: 12px;
}

.header__logo {
  width: 100px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  background-color: var(--primary-50);
}

.header__logo-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__logo-img {
  width: 66.19px;
  color: var(--primary-text);
}

.header__nav-list {
  display: flex;
  padding: 9.5px 12px;
  gap: 15.1px;
  background-color: var(--background-primary);
  border-radius: 12px;
  height: 100%;
}

.header__nav-item {
  height: 100%;
  padding: 10px 10px 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 8px;
}

.header__nav-item:hover {
  background: var(--primary-50);
  border-radius: 8px;
}

.header__nav-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: var(--primary-80);
}

.header__nav-item:hover .header__nav-link {
  color: var(--primary-text);
}

.header__nav-link-count {
  width: 21px;
  height: 21px;
  border-radius: 50%;
  background: var(--primary-50);
  color: var(--primary-text);
  font-weight: 400;
  font-size: 16px;
  line-height: 135%;
  display: none;
  align-items: center;
  justify-content: center;
  margin-left: 4px;
  padding-top: 2px;
}

.header__nav-link-reviews-count {
  display: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 135%;
  color: var(--primary-50);
  margin-left: 4px;
}

.header__services {
  display: none;
}

.header__contacts {
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
  height: 100%;
}

.header__contacts-info {
  min-width: 137px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.header__contacts-info-row {
  display: flex;
  height: 22px;
  align-items: center;
}

.header__contacts-info-phone {
  font-weight: 600;
  font-size: 15px;
  line-height: 145%;
  text-align: center;
  vertical-align: middle;
  color: var(--primary-80);
  cursor: pointer;
}

.header__contacts-info-row:hover .header__contacts-info-phone {
  color: var(--primary-40);
}

.header__contacts-info-row:hover .header__contacts-info-arrow-img {
  color: var(--primary-40);
}

.header__contacts-info-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 19px;
  height: 19px;
}

.header__contacts-info-arrow-img {
  width: 8.35px;
  height: 5px;
  cursor: pointer;
}

.header__contacts-info-callback {
  font-weight: 400;
  font-size: 15px;
  line-height: 145%;
  text-align: center;
  vertical-align: middle;
  text-decoration: underline;
  text-decoration-style: solid;
  color: var(--gray-70);
  cursor: pointer;
}

.header__contacts-actions {
  display: flex;
  height: 100%;
  gap: 8px;
}

.header__contacts-actions-row {
  display: flex;
  gap: 8px;
}

.header__contacts-actions-btn {
  min-width: 159px;
  height: 100%;
  padding: 0 24px;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 135%;
  text-align: center;
  vertical-align: middle;
  border-radius: 12px;
  background-color: var(--primary-50);
  border: none;
  color: var(--primary-text);
  cursor: pointer;
}

.header__contacts-actions-btn:hover {
  background: var(--primary-40);
}

.header__contacts-actions-social-img:hover {
  fill: var(--primary-text);
}

.header__contacts-actions-search-btn,
.header__contacts-actions-social {
  width: 55px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-primary);
  border: none;
  border-radius: 12px;
  cursor: pointer;
}

.header__contacts-actions-search-btn:hover,
.header__contacts-actions-social:hover {
  background: var(--primary-50);
}

.header__contacts-actions-search-img,
.header__contacts-actions-social-img {
  color: var(--primary-60);
}

.header__contacts-actions-social:hover .header__contacts-actions-social-img {
  color: var(--primary-text);
}

.header__contacts-actions-search-btn:hover .header__contacts-actions-search-img {
  color: var(--primary-text);
}

.header__contacts-actions-search-input {
  display: none;
}

.header__contacts-dropdown {
  width: 105px;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  gap: 4px;
  background-color: var(--background-primary);
  border: none;
  border-radius: 12px;
  cursor: pointer;
}

.header__contacts-dropdown--open {
  background-color: var(--primary-50);
  color: var(--primary-text);
}

.header__contacts-dropdown--open .header__contacts-dropdown-img {
  color: var(--primary-text);
  transform: rotateX(180deg);
}

.header__contacts-dropdown--open .header__contacts-dropdown-text {
  color: var(--primary-text);
}

.header__contacts-dropdown:hover {
  background-color: var(--primary-50);
  color: var(--primary-text);
}

.header__contacts-dropdown-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 135%;
  text-align: center;
  color: var(--primary-50);
}

.header__contacts-dropdown:hover .header__contacts-dropdown-text {
  color: var(--primary-text);
}

.header__contacts-dropdown-img {
  color: var(--primary-50);
}

.header__contacts-dropdown:hover .header__contacts-dropdown-img {
  color: var(--primary-text);
}

.header__burger {
  width: 55px;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-50);
  border: none;
  border-radius: 12px;
  cursor: pointer;
}

.header__burger:hover {
  background: var(--primary-40);
}

.header__burger-menu {
  position: relative;
  width: 23px;
  height: 2px;
  background: var(--background-primary);
  border: none;
  padding: 0;
  cursor: pointer;
}

.header__burger-menu::before,
.header__burger-menu::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background: var(--background-primary);
}

.header__burger-menu::before {
  top: -7px;
}

.header__burger-menu::after {
  bottom: -7px;
}

.header__nav-list > .header__nav-item:nth-last-child(2) {
  display: none;
}

.header__nav-list > .header__nav-item:nth-last-child(3) {
  display: none;
}

@media (max-width: 1541px) {

  .header__nav-list > .header__nav-item:nth-last-child(4) {
    display: none;
  }
}

@media (max-width: 1463px) {

  .header__nav-list > .header__nav-item:nth-last-child(5) {
    display: none;
  }
}

@media (max-width: 1361px) {

  .header__nav-list > .header__nav-item:nth-last-child(6) {
    display: none;
  }
}

@media (max-width: 1271px) {

  .header__nav-list {
    gap: 8px;
  }

  .header__nav-list > .header__nav-item:nth-last-child(7) {
    display: none;
  }
}


@media (max-width: 1201px) {

  .header__main {
    gap: 64px;
  }

  .header__nav-list > .header__nav-item:nth-last-child(8) {
    display: none;
  }

  .header__nav-list > .header__nav-item:nth-last-child(9) {
    display: none;
  }
}

@media (max-width: 990px) {

  .header__nav-list > .header__nav-item:nth-last-child(10) {
    display: none;
  }
}


@media (max-width: 925px) {

  .header {
    padding: 16px 0;
  }

  .header__burger {
    display: flex;
  }

  .header__nav-list {
    display: none;
  }

  .header__main {
    gap: 55px;
  }

  .header__burger--active .header__burger-menu {
    background: transparent;
  }

  .header__burger--active .header__burger-menu::before {
    top: 0;
    transform: rotate(45deg);
  }

  .header__burger--active .header__burger-menu::after {
    bottom: 0;
    transform: rotate(-45deg);
  }

  .header__nav-list > .header__nav-item {
    display: flex !important;
  }

  .header__nav-list > .header__nav-item:last-child {
    display: none !important;
  }

  .header__nav.header__nav--open {
    display: flex;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: calc(100vh - 87px);
    z-index: 100;
  }

  .header__nav-list {
    width: 100%;
    background: var(--background-primary);
    flex-direction: column;
    gap: 16px;
    max-width: 184px;
    padding: 12px 20px 0 24px;
    align-items: end;
    border-radius: 0;
  }

  .header__nav-link-reviews-count,
  .header__nav-link-count {
    display: flex;
  }

  .header__nav-list.header__nav-list--open {
    display: flex;
    align-items: start;
  }

  .header__nav-item.header__nav-item--open {
    min-height: 22px;
    height: max-content;
    padding: 0;
    max-width: 104px;
    width: 100%;
    justify-content: start;
  }

  .header__nav-item:hover {
    background: none;
  }

  .header__nav-item:hover .header__nav-link {
    color: var(--primary-40);
  }

  .header__nav-link.header__nav-link--open {
    font-size: 16px;
    line-height: 22px;
  }

  .header__nav-link.header__nav-link--active {
    color: var(--primary-50);
  }

  .header__services.header__services--open {
    width: 100%;
    padding: 16px 24px 0 32px;
    background: var(--primary-text);
    display: flex;
    flex-direction: column;
  }

  .header__services-list {
    width: 100%;
    max-width: 492px;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .header__services-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header__services-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--primary-80);
  }

}

@media (max-width: 769px) {
  .header__nav-list.header__nav-list--open {
    align-items: end;
  }

  .header__main {
    max-width: 648px;
  }

  .header__wrapper {
    gap: 0;
  }
}

@media (max-width: 748px) {
  .header__nav-list.header__nav-list--open {
    align-items: start;
    padding-left: 40px;
  }
}

@media (max-width: 704px) {
  .header__nav-list.header__nav-list--open {
    align-items: start;
    padding-left: 24px;
  }

  .header__main {
    height: 40px;
  }

  .header__logo {
    width: 73px;
  }

  .header__logo-img {
    width: 48.31px;
  }

  .header__contacts-actions-search-btn,
  .header__contacts-info,
  .header__contacts-actions-btn,
  .header__contacts-actions-social {
    display: none;
  }

  .header__contacts-dropdown {
    display: flex;
  }

  .header__burger {
    width: 40px;
  }
}

@media (max-width: 584px) {

  .header__nav.header__nav--open {
    height: calc(100vh - 72px);
  }

  .header__logo,
  .header__contacts-dropdown,
  .header__burger {
    border-radius: 8px;
  }

  .header__nav-item.header__nav-item--open {
    min-height: 19px;
  }

  .header__nav-list {
    max-width: 140px;
    padding: 12px 12px 0 24px;
  }

  .header__nav-link.header__nav-link--open {
    font-size: 14px;
    line-height: 19px;
  }

  .header__services.header__services--open {
    width: 100%;
    padding: 16px 24px 16px 16px;
  }

  .header__services-item {
    gap: 12px;
    max-height: 38px;
  }

  .header__services-link {
    font-size: 14px;
    line-height: 24px;
  }

  .header__services-arrow {
    margin-right: 9px;
  }

  .header__contacts-actions.header__contacts-actions--open {
    position: absolute;
    bottom: calc(-100vh + 72px);
    left: 0;
    flex-direction: column;
    padding: 24px;
    gap: 24px;
    z-index: 200;
    width: 100%;
    height: 179px;
    background: var(--primary-text);
  }

  .header__contacts-actions--open .header__contacts-actions-btn {
    display: flex;
    width: 100%;
    max-width: 245px;
    justify-content: center;
  }

  .header__contacts-actions--open .header__contacts-actions-row {
    height: 55px;
    gap: 12px;
    justify-content: space-between;
  }

  .header__contacts-actions--open .header__contacts-actions-social {
    min-width: 55px;
    display: flex;
  }

  .header__contacts-actions-search {
    height: 52px;
    border-radius: 8px;
    background: var(--primary-50);
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .header__contacts-actions--open .header__contacts-actions-search-input {
    display: flex;
    width: 100%;
    max-width: 256px;
    height: 100%;
    padding: 15px 16px;
    border-radius: 8px;
    border: 1px solid var(--primary-50);
  }

  .header__contacts-actions-search-input::placeholder {
    color: var(--gray-50);
    font-weight: 400;
    font-size: 16px;
    line-height: 135%;
  }

  .header__contacts-actions--open .header__contacts-actions-search-btn {
    min-width: 56px;
    display: flex;
    background: var(--primary-50);
  }

  .header__contacts-actions-search-img {
    color: var(--primary-text);
  }

  .header__contacts-actions--open .header__contacts-actions-search-btn:hover {
    background: var(--primary-40);
  }
}

@media (max-width: 361px) {
  .header__main {
    max-width: 312px;
  }
}
